<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        .container {
            width: 300px;
            height: 550px;
            background-color: white;
            margin: 50px 10px 50px 600px;
            padding: 10px;
            border-radius: 20px;
        }
    </style>
    <title>Edit Contact</title>
</head>

<body>

    <div class="container">

        <h1 class="h1-style">Edit Contact</h1>

        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="#">
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="#" class="form-style">
            </li>
            <li>
                <label for="age">Age</label>
                <input type="number" name="age" id="age" value="#" class="form-style">
            </li>
            <li>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="#" class="form-style">
            </li>
            <li>
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" value="# class=" form-style">
            </li>

            <button class="btn-edit" type="submit" name="submit" onclick="return confirm('Anda yakin?')">Edit</button>
            <a href="/" class="btn-kembali">Kembali</a>
        </form>
    </div>
</body>

</html>